/* XXX do an icon in the lower left for pending/flagged/deleted. */

/* These settings are required to properly align the icons. */
.post-preview a {
    display:  inline-block;
    position: relative;
}

/* General settings for all thumbnail icons. */

div#c-comments div#a-index div.post-preview div.preview:before,
div#c-comments div#a-index div.post-preview div.preview a:before,
div#c-comments div#a-index div.post-preview div.preview a:after,
div#c-comments div#a-show  div.post-preview div.preview:before,
div#c-comments div#a-show  div.post-preview div.preview a:before,
div#c-comments div#a-show  div.post-preview div.preview a:after,
article.post-preview:before,
article.post-preview a:before,
article.post-preview a:after {
    font-family: Tahoma, Arial, sans-serif;
    font-size:   13px !important;
    line-height: 18px !important;    /* vertical alignment of the icon */
    width:       20px !important;
    height:      20px !important;

    margin: 2px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);

    /* Prevent the icon from getting in the way of clicking on the thumbnail. */
    pointer-events: none;

    z-index: 100 !important;
}

#c-comments #a-show  div.post-preview[data-tags~="translation_request"] div.preview a:before,
#c-comments #a-index div.post-preview[data-tags~="translation_request"] div.preview a:before,
article.post-preview[data-tags~="translation_request"] a:before {
    content: "JP";

    position: absolute;
    bottom:   0;
    right:    0;
}

#c-comments #a-show  div.post-preview[data-tags~="translated"] div.preview a:before,
#c-comments #a-index div.post-preview[data-tags~="translated"] div.preview a:before,
article.post-preview[data-tags~="translated"] a:before {
    content: "EN";

    position: absolute;
    bottom:   0;
    right:    0;
}
